     
		<div class="row" id="divLogin">
			<div class='col-md-12'>
			  <h2>Login</h2>	
			  
			  <!-- Any non field errors go here -->
			  <div id="divAlerts">
			    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
			  </div>
			  			  
			  <form ng-submit="login()" name="mainForm" id="mainForm">		 
				  
				<div id="userNameFormGroup" class="form-group">
				  <label for="desc">User Name</label>
			      <input type="text" name="userName" id="userName" class="form-control" ng-model="formData.userName" autofocus="autofocus">
			      <span class="help-block" ng-show="mainForm.userName.$error.serverMessage">{{mainForm.userName.$error.serverMessage}}</span>
				</div>
				
				<div id="passwordFormGroup" class="form-group">
				  <label for="desc">Password</label>
			      <input type="password" name="password" id="password" class="form-control" ng-model="formData.password">
			      <span class="help-block" ng-show="mainForm.password.$error.serverMessage">{{mainForm.password.$error.serverMessage}}</span>
				</div>	
		
				<div class="form-group">
				    <button class="btn btn-primary btn-sm" type="submit">Login</button>
				</div>				
			</form>
		</div>      
      </div>
